<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=EB+Garamond&family=Itim&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>Ninja Gold</title>
</head>
<body>
    <!-- STATUS BAR -->
    <h1>Ninja Gold!</h1>
    <div class="status_bar">
        <div class='gold_box'>
            <h3>Your gold: <span class ='gold_tally'>{{session['gold']}}</span></h3>
        </div>
        <div class="moves">
            <h3>Moves: <span class ='moves_tally'>{{session['moves']}}</span></h3>
        </div>
    </div>
    <!-- LOCATION BOXES -->
    <div class='locations'>
        <form action='/process_money' method='POST'>
            <h3 class='block'>Farm</h3>
            <p class='earning'>(earns 10-20 gold)</p>
            <input type='hidden' name='location' value='farm'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3 class='block'>Cave</h3>
            <p class='earning'>(earns 5-10 gold)</p>
            <input type='hidden' name='location' value='cave'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3 class='block'>House</h3>
            <p class='earning'>(earns 2-5 gold)</p>
            <input type='hidden' name='location' value='house'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3 class='block'>Casino</h3>
            <p class='earning'>(earns/takes 0-50 gold)</p>
            <input type='hidden' name='location' value='casino'><button>Find Gold!</button>
        </form>
    </div>
    <!-- ACTIVITY LOG AND RESET BUTTON -->
    <div class="subcontainer">
        <div class='activities'>
            <p class='list'>Activities:</p>
            {% for activity  in session['activities'] %}
                    {{ activity['Activity'] |safe }} 
            {% endfor %}
            <!-- "| safe" will override the styling in server -->
        </div>
        <div class="rules_reset">
            <div class="rules">
                <h4>Instructions:</h4><br>
                <h5>Earn 250 gold with 15 moves or less to win.</h5>
            </div>
            <div class='reset_button'>
                <p>{{session['reset']}}</p>
                <a class='reset' href='/reset_game'>Restart Game</a>
            </div>
        </div>
        
    </div>
</body>
</html>