<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>Ninja Gold</title>
</head>
<body>
    <div class='gold_box'>
        <h3>Your gold: <span class ='gold_tally'>{{session['gold']}}</span></h3>
    </div>
    
    <div class='locations'>
        <form action='/process_money' method='POST'>
            <h3>Farm</h3>
            <p>(earns 10-20 golds)</p>
            <input type='hidden' name='location' value='farm'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3>Cave</h3>
            <p>(earns 5-10 golds)</p>
            <input type='hidden' name='location' value='cave'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3>House</h3>
            <p>(earns 2-5 golds)</p>
            <input type='hidden' name='location' value='house'><button>Find Gold!</button>
        </form>
        <form action='/process_money' method='POST'>
            <h3>Casino</h3>
            <p>(earns/takes 0-50 golds)</p>
            <input type='hidden' name='location' value='casino'><button>Find Gold!</button>
        </form>
    </div>
    <div class='activities'>
        <p>Activities:</p>
    {% for activity in session['activities'] %}
        
    {% endfor %}
    </div>
    <div class='reset_button'>
        <p>{{session['reset']}}</p>
        <a class='reset' href='/reset_game'>Restart Game</a>
    </div>
</body>
</html>